server {
    listen 80;
    server_name {{ wp_domain | default('wp.test.com') }};
    root {{ wp_code_dir }};
    
    # 使用你定义的 JSON 日志格式
    access_log /var/log/nginx/{{ wp_domain | default('wp.test.com') }}_access.log json_access;
    error_log  /var/log/nginx/{{ wp_domain | default('wp.test.com') }}_error.log warn;

    client_max_body_size 20m;

    location / {
        index index.php index.html;
        try_files $uri $uri/ /index.php?$args;
    }

    # 静态资源处理
    location ~* \.(jpg|jpeg|png|gif|ico|css|js|pdf|txt|woff|woff2|ttf|svg)$ {
        expires 7d;
        access_log off;
        log_not_found off;
        tcp_nodelay on;
    }

    # PHP 处理
    location ~ \.php$ {
        try_files $uri =404; 

        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index index.php;

        # 性能与缓冲区
        fastcgi_keep_conn on;
        fastcgi_connect_timeout 60s;
        fastcgi_send_timeout 60s;
        fastcgi_read_timeout 60s;
        
        fastcgi_buffer_size 64k;
        fastcgi_buffers 4 64k;
        fastcgi_busy_buffers_size 128k;
        fastcgi_temp_file_write_size 128k;
    }

    # 统一拦截所有隐藏文件
    location ~ /\. {
        deny all;
        access_log off;
        log_not_found off;
    }
}
